<div id="<%= dom_id instrument %>">
  <p>
    <strong>Marca:</strong>
    <%= instrument.marca %>
  </p>

  <p>
    <strong>Modelo:</strong>
    <%= instrument.modelo %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= instrument.descricao %>
  </p>

  <p>
    <strong>Condição:</strong>
    <%= instrument.condicao %>
  </p>

  <p>
    <strong>Acabamento:</strong>
    <%= instrument.acabamento %>
  </p>

  <p>
    <strong>Título:</strong>
    <%= instrument.titulo %>
  </p>

  <p>
    <strong>Preço:</strong>
    <%= instrument.preco %>
  </p>
</div>
